.input-label {
  font-weight: bold;
  color: #27496d;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.input-container {
  padding-top: 1rem;
}

@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
