.containerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .containerFooter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerInfoFooter {
    width: 100% !important;
  }
}
